html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.Wrap{
    width: 100%;
    height: 100%;
    background: #181d27;
    padding: 20px;
}

.Wrap > li{
    height: 100%;
    float: left;
}

.Wrap > li:first-of-type{
    width: 25%;
}
.Wrap > li:nth-of-type(2){
    width: 50%;
}
.Wrap > li:nth-of-type(3){
    width: 25%;
}

.chartWrap{
    margin: 10px 5px;
}


.chartTitle{
    height: 35px;
    line-height: 35px;
    color: #999999;
    padding-left: 16px;
}

.chart{
    background: rgb(36, 41, 53);
}